/* Control específico para la imagen del logo */
.navbar-brand svg {
  width: 50px !important;    
  height: auto !important;
  max-width: unset !important;
}

/* Estilos para el texto */
.navbar-brand {
  display: flex !important;
  align-items: center !important;
  gap: 0.5rem !important;
  font-size: 1.5rem !important;
  // color: #000000;  //#ff0404;
}

.custom-font-size h2 {
  font-size: 1.8rem !important;
  font-weight: bold !important;
}

.custom-font-size p {
  font-size: 1.5rem !important;
}
